<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseApplicationId</key>
	<string>99bHWRiTnuJgTlngZliNNGRfpJqlhRomTeZ2efBO</string>
	<key>parseClientKey</key>
	<string>r8w1J9bvSCo5loLVkEKAS1czL5nX5yplRRUymgVH</string>
</dict>
</plist>
